<h3 md-dialog-title>
    {{pageTitle}}
</h3>

<div md-dialog-content>
    <form class="form-horizontal" novalidate (ngSubmit)="saveCustomer()" [formGroup]="customerForm">
        <fieldset>
            <md-input-container>
                <input mdInput id="nameId" type="text" placeholder="Name (required)" formControlName="name" />
                <md-error *ngIf="displayMessage.name">
                    {{displayMessage.name}}
                </md-error>
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" placeholder="Address (required)" formControlName="address" />
                <md-error *ngIf="displayMessage.address">
                    {{displayMessage.address}}
                </md-error>
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" placeholder="Business (required)" formControlName="business" />
                <md-error *ngIf="displayMessage.business">
                    {{displayMessage.business}}
                </md-error>
            </md-input-container>

            <div md-dialog-actions>
                <span>
                            <button md-raised-button
                                    type="submit"
                                    [disabled]='!customerForm.valid'>
                                Save
                            </button>
                        </span>
                <span>
                            <button md-dialog-close
                                md-raised-button>
                                Cancel
                            </button>
                        </span>
                <span>
                            <button
                               md-raised-button
                               (click)="deleteCustomer(customer.id)">
                                Delete
                            </button>
                        </span>
            </div>
        </fieldset>
    </form>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
</div>